systemmonitor.json
[
    {
        "id": "flow1",
        "type": "tab",
        "label": "System-Monitor-Digilab",
        "disabled": false,
        "info": ""
    },
    {
        "id": "cpu_temp",
        "type": "exec",
        "z": "flow1",
        "command": "vcgencmd measure_temp",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "CPU Temperatur",
        "x": 330,
        "y": 300,
        "wires": [
            [
                "cpu_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "cpu_parser",
        "type": "function",
        "z": "flow1",
        "name": "CPU Temp",
        "func": "let tempMatch = msg.payload.match(/temp=(.*?)'/);\nmsg.payload = tempMatch ? 'CPU Temp: ' + tempMatch[1] + ' *C' : 'Fehler';\nmsg.line = 1\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 300,
        "wires": [
            [
                "e75570956ad6d0a5"
            ]
        ]
    },
    {
        "id": "ram_exec",
        "type": "exec",
        "z": "flow1",
        "command": "free -m | grep Mem",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "RAM Verbrauch",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "ram_parser"
            ],
            [],
            []
        ]
    },
    {
        "id": "ram_parser",
        "type": "function",
        "z": "flow1",
        "name": "RAM",
        "func": "let parts = msg.payload.trim().split(/\\s+/);\nmsg.payload = 'RAM: ' + parts[2] + '-' + parts[1] + ' MB';\nmsg.line = 2\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "e75570956ad6d0a5"
            ]
        ]
    },
    {
        "id": "656410b006314ccd",
        "type": "rpi-gpio in",
        "z": "flow1",
        "name": "",
        "pin": "21",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "cpu_temp"
            ]
        ]
    },
    {
        "id": "2b540bea6c7e4460",
        "type": "exec",
        "z": "flow1",
        "command": "python /home/Goncalo/digilab/lcd/write.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run Write Script",
        "x": 1060,
        "y": 280,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "e75570956ad6d0a5",
        "type": "template",
        "z": "flow1",
        "name": "Build Write Command",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": " --line \"{{line}}\" --message \"{{payload}}\"",
        "output": "str",
        "x": 820,
        "y": 280,
        "wires": [
            [
                "2b540bea6c7e4460"
            ]
        ]
    },
    {
        "id": "44511861876b2e9c",
        "type": "exec",
        "z": "flow1",
        "command": "python /home/Goncalo/digilab/lcd/init.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Run Init/Clear Script",
        "x": 380,
        "y": 160,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "130d74c238761fd5",
        "type": "rpi-gpio in",
        "z": "flow1",
        "name": "",
        "pin": "20",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 90,
        "y": 440,
        "wires": [
            [
                "ram_exec"
            ]
        ]
    },
    {
        "id": "2827d44e6cd0a1be",
        "type": "rpi-gpio in",
        "z": "flow1",
        "name": "",
        "pin": "19",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "bcm": true,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "44511861876b2e9c"
            ]
        ]
    }
]
